body { font-family: Arial, sans-serif; margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; height: 100vh; background-color: #f4f4f4; } 

.container { text-align: center; background-color: hsl(61, 98%, 55%); padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(14, 139, 177, 0.1); }

 button { padding: 10px; font-size: 16px; cursor: pointer; background-color: hsla(298, 100%, 50%, 0.425); color: #ffffff; border: none; border-radius: 4px; } 

button:hover { background-color: #17180a; }
